<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <%-include ('./partials/css-bootstrap.ejs') %>
</head>

<body>
    <div>
        <div>
            <h1>CREATE YOUR ADVENTURE!</h1>
        </div>
        <div>
            <form action="/user" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location">
                </div>
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <input type="date" class="form-control" id="start_date" name="start_date">
                    <label for="start_time">Select a time:</label>
                    <input type="time" id="start_time" name="start_time"> 
                </div>
                <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input type="date" class="form-control" id="end_date" name="end_date">
                    <label for="end_time">Select a time:</label>
                    <input type="time" id="end_time" name="end_time"> 
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <%-include ('./partials/js-bootstrap.ejs') %>
</body>

</html>