<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <%- include('./partials/css-bootstrap.ejs') %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%-include('./partials/navbar.ejs')%>
    <div id="game_head">
        <h1>WELCOME 'USER'</h1>
    </div>
    <div class="game_flex_container">
        <div id="game_card" class="card" style="width: 25rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFG6X_oxVTBRqQJGdjT1NgcMYvoEP3w08-TY2acegLYC0qCvKJ" class="card-img-top" alt="monopoly">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div id="game_card" class="card" style="width: 25rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div id="game_card" class="card" style="width: 25rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <%-include ('./partials/js-bootstrap.ejs') %>
</body>

</html>