<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <%- include('./partials/css-bootstrap.ejs') %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%-include('./partials/navbar.ejs')%>
    <div id="user_display_container">
        <div >
            <img id="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRcAovx_L5MCZu8BoLl1LyiDdIfKG0axFXuGTma2CQ-itz_Ajne" alt="avatar"> 
        </div>
        <div id="username"><h1 id="username_text">'USERNAME'</h1></div>
    </div>
    <div id="user_container">
        <div id="user"><h2>email:</h2></div>
        <div id="user"><h2>telephone number:</h2></div>
        <div id="user"><h2>email:</h2></div>
        <div id="user"><h2>behaviour score:</h2></div>
        <div id="user"><h2>behaviour score:</h2></div>
    </div>
    <%-include ('./partials/js-bootstrap.ejs') %>
</body>

</html>