<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <%- include('./partials/css-bootstrap.ejs') %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body class="home_body">
    <div id="home_container">
        <div id="navbar">
            <img style="height: 100px; margin-top:0px"
                src="https://ih0.redbubble.net/image.613776335.5698/fmp,x_small,gloss,wall_texture,product,750x1000.u11.jpg"
                alt="profile_picture">
            <h1 id="username">"USERNAME"</h1>
            <div>
                <a href="home"> <img src="/assets/homebutton.png" alt="backbutton" id="home_button"
                        style="margin-left:0px; margin-top:20px; height:50%"></a>
            </div>
        </div>
    </div>
    <div id="navigation">
        <p> </p>
    </div>
    </div>
    <%-include ('./partials/js-bootstrap.ejs') %>
</body>

</html>