<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <%-include ('./partials/css-bootstrap.ejs') %>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div>
    <div>
      <h1>LOGIN</h1>
    </div>
    <div>
      <form action="/" method="get">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <label for="role">Choose Your Destiny!</label><br>
        <select id="role" name="role">
          <option value="admin">Dungeon Master</option>
          <option value="user">Adventurer</option>
        </select><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <%-include ('./partials/js-bootstrap.ejs') %>
</body>

</html>