@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body {
    background-color:white;
}

/* GAME */
h1 {
    font-family: 'Fredoka One';
}

#game_head {
    text-align: center;
    margin-top: 30px;
}

.game_flex_container {
    display: flex;
    width: 100%;
    top: 30%;
}

#game_card {
    margin: auto;
}


/* USER */

#user_display_container {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
}

#avatar {
    border-radius: 100px;
    height: 60px;
}

#username {
    position: relative;
    margin-left: 2%;
}

#username_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#user_container {
    margin-left: 3%;
}
